/* Base rules are applied with an element, descendent or child selector along with a pseudo class */

* {
    box-sizing: border-box; /* Include padding and border */
}

html {
    font-size: 100%; /* Browser default font-size (16px) */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
    background-image: url("../img/mixer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', sans-serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}
